<div>
    <p-card>
        <ng-template #header>
            <div class="card-header-container">
                <span>{{ ticket()?.subject }}</span>
                <p-button icon="pi pi-arrow-left" severity="info" (onClick)="onNavigateBack()" [rounded]="true">
                </p-button>
            </div>
        </ng-template>
        <p-panel class="details" header="Details">
            <div class="details-row">
                <span>Priority:</span>
                <p-tag
                    [value]="ticket() ? ticket()?.priority : ''"
                    [severity]="getPrioritySeverity(ticket()?.priority)"
                />
            </div>
            <div class="details-row">
                <span>Category:</span>
                <span>{{ ticket()?.category }}</span>
            </div>
            <div class="details-row">
                <span>Author:</span>
                <a href="{{ `mailto:${ticket()?.from_email}` }}" target="_blank">{{
                    ticket()?.from_email
                }}</a>
            </div>
            <div class="details-row">
                <span>Created:</span>
                <span>{{ ticket()?.created_at | date: 'medium' }}</span>
            </div>
        </p-panel>

        <p-panel class="message" header="Message">
            <p-message severity="secondary" icon="pi pi-info-circle" styleClass="h-full">{{
                'Summary: ' + ticket()?.summary
            }}</p-message>
            <p class="m-0">
                {{ ticket()?.message }}
            </p>
        </p-panel>

        <p-panel class="reply" header="Reply">
            <textarea
                id="reply-textarea"
                rows="10"
                pTextarea
                fluid
                style="resize: none"
                [(ngModel)]="reply"
            ></textarea>
            <p-button class="send-reply" severity="info" (onClick)="onSend()">
                <i class="pi pi-send" pButtonIcon></i>
                <span pButtonLabel>Send E-Mail</span>
            </p-button>
        </p-panel>
    </p-card>
</div>
