::ng-deep app-ticket-create .p-panel-content {
    margin-top: 1.125rem;
}

::ng-deep app-ticket-create .p-panel-content form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: .5em;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}