        <p-dialog
            #createdialog
            [(visible)]="create_dialog_visible"
            [modal]="true"
            style="width: 50em"
            position="top"
            [draggable]="false"
        >
            <ng-template #header>
                <h2>Create ticket</h2>
            </ng-template>
            @if (create_dialog_visible) {
                <app-ticket-create />
            }
        </p-dialog>

<div class="navbar">
    <div class="container">
        <!-- <div class="item">
            <a class="create-ticket" href="/tickets" pButton target="_self">
                <i class="pi pi-list" pButtonIcon></i>
                <span pButtonLabel>List Tickets</span>
            </a>
        </div> -->

        <div class="item">
            <p-button class="create-ticket" severity="info" (onClick)="onCreateClick()">
                <i class="pi pi-sparkles" pButtonIcon></i>
                <span pButtonLabel>Create</span>
            </p-button>
        </div>

    </div>
</div>
