<div class="card">
    <p-table
        #dt
        [value]="tickets()"
        [tableStyle]="{ 'min-width': '60rem' }"
        [paginator]="true"
        [rows]="rows"
        [showCurrentPageReport]="true"
        [first]="first"
        [resizableColumns]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [globalFilterFields]="['priority', 'category']"
    >
        <ng-template #header>
            <tr>
                <th style="width: 2%">#</th>
                <th>Subject</th>
                <th style="width: 20%">
                    Priority
                    <p-multiselect
                        [options]="priorityOptions"
                        display="chip"
                        placeholder="All"
                        (onChange)="dt.filter($event.value, 'priority', 'in')"
                        appendTo="body"
                    ></p-multiselect>
                </th>
                <th style="width: 20%">
                    Category
                    <p-multiselect
                        [options]="categoryOptions"
                        display="chip"
                        placeholder="All"
                        (onChange)="dt.filter($event.value, 'category', 'in')"
                        appendTo="body"
                    ></p-multiselect>
                </th>
                <th style="width: 15%">Created</th>
            </tr>
        </ng-template>
        <ng-template #body let-ticket>
            <tr class="row-ticket" (click)="onTicketClick(ticket.id)">
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.id }}
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.subject }}
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        <p-tag
                            [value]="ticket.priority"
                            [severity]="getPrioritySeverity(ticket.priority)"
                        />
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.category }}
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.created_at | date: 'medium' }}
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
