a {
    color: inherit;
}

a:hover {
    font-weight: bold;
}

::ng-deep app-ticket-list tr.row-ticket {
    cursor: pointer;
}

::ng-deep app-ticket-list tr.row-ticket:hover {
    background-color: #bddcff;
}

.spinner-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}

div.topbar {
    height: 5em;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

div.topbar > .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 1em;
}

div.topbar > .container > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25em;
    min-height: 3em;
}


::ng-deep app-ticket-list .p-component.p-dialog {
    width: min(60em, 70%);
}
